
header{
width:20%
background-color: white(12, 124, 136);
text-align: center;
color::-webkit-scrollbar-track;
font-size: 50px;
padding:10px;
}

div{
width:99%; 
background-color: white (12, 124, 136);
border: 2px double white;
text-align: center;
color::-webkit-scrollbar-track;
font-size: 45px;
padding:10px;

}
img{
   width:99%; 
   height:70%;
   align-items: center;
   align-content: center;
   image-rendering: crisp-edges;
     }
footer{
  background-color: whitesmoke;
  font-display: black;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
}